.modal-title {
	text-align: center;
}
.main-bt {
	margin-left: 38%;
	margin-top: 40px;
}
.bttt {
	width: 60px;
}
.mybtn_1 {
	margin-left: 37%;
}
.mybtn_2 {
	margin-left: 3%;
}
.engg {
	margin-left: 50px;
	margin-top: 40px;
}
.post-img {
	width: 400px;
}
.h1-post {
	margin-bottom: 8px;
	text-align: center;
}
.post-pic {
	margin-top: 5px;
	margin-left: 95px;
	width: 350px;
	outline: none;
}
.rich {
	text-align: center;
	font-size: 11px;
	font-weight: 800;
}