.header
 &-tagline
   display: none
   text-align: center
   font-size: 15px
   line-height: 15px 
 &-menu
  display: flex
  justify-content: space-between
  align-items: center
 &-social
  display: none
 &-block
  display: flex
  justify-content: space-between  
  align-items: center
 &__logo
  width: 201px
  user-select: none
  height: 83px
  margin-right: 35px
  &__title
   font-family: 'Olga', sans-serif
   font-size: 32px
   line-height: 43px
   // letter-spacing: 0.04em
   &::first-letter
    font-size: 55px
    line-height: 75px
  &__subtitle
   font-size: 10px
   line-height: 13px
   font-family: 'Avenir'
   margin-left: 80px
   margin-top: -20px
 &-nav
  &__link
   user-select: none
   color: #ffffff
   font-size: 15px
   line-height: 17px
   margin-right: 34px
   text-decoration: none
   outline: none !important
 &-map
  margin-top: 3px
  &__link
   color: #ffffff
   text-decoration: none
   outline: none !important
   font-size: 15px
   line-height: 17px
 &-phone
  margin-top: 3px
  &__img-dark
   display: none
  &__link
   color: #ffffff
   text-decoration: none
   outline: none !important
   font-size: 15px
   line-height: 17px  
 &-btn
  border: none
  border-radius: 50px
  width: 45px
  background-color: #000000
  height: 45px
  display: flex
  align-items: center
  position: relative
  justify-content: center
  &-count
   color: red
   font-family: 'Olga', sans-serif
   font-size: 25px
   position: absolute
  img
   width: 25px
   height: 25px
.mob
  display: none
