* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Avenir', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff; }

.container {
  max-width: 1140px;
  margin: auto; }

.button {
  border: none;
  color: #ffffff;
  border-radius: 50px;
  padding: 13px 14px;
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  line-height: 17px;
  background: rgba(35, 52, 73, 0.9); }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirNextCyr-Medium.eot");
  src: url("../fonts/Avenir/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/Avenir/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Olga';
  src: url("../fonts/olga/OlgaCTT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header-tagline {
  display: none;
  text-align: center;
  font-size: 15px;
  line-height: 15px; }

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-social {
  display: none; }

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  width: 201px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 83px;
  margin-right: 35px; }
  .header__logo__title {
    font-family: 'Olga', sans-serif;
    font-size: 32px;
    line-height: 43px; }
    .header__logo__title::first-letter {
      font-size: 55px;
      line-height: 75px; }
  .header__logo__subtitle {
    font-size: 10px;
    line-height: 13px;
    font-family: 'Avenir';
    margin-left: 80px;
    margin-top: -20px; }

.header-nav__link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  font-size: 15px;
  line-height: 17px;
  margin-right: 34px;
  text-decoration: none;
  outline: none !important; }

.header-map {
  margin-top: 3px; }
  .header-map__link {
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
    font-size: 15px;
    line-height: 17px; }

.header-phone {
  margin-top: 3px; }
  .header-phone__img-dark {
    display: none; }
  .header-phone__link {
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
    font-size: 15px;
    line-height: 17px; }

.header-btn {
  border: none;
  border-radius: 50px;
  width: 45px;
  background-color: #000000;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header-btn-count {
    color: red;
    font-family: 'Olga', sans-serif;
    font-size: 25px;
    position: absolute; }
  .header-btn img {
    width: 25px;
    height: 25px; }

.mob {
  display: none; }

.main {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 99px; }
  .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main-content__title {
    font-family: 'Olga', sans-serif;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 34px; }
  .main-content__subtitle {
    margin-bottom: 67px;
    font-size: 14px;
    line-height: 17px; }
  .main-content__btn {
    margin-bottom: 100px; }
  .main-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 140px; }
    .main-social__link {
      margin-bottom: 10px; }

.descr {
  color: #000000;
  padding-top: 92px;
  padding-bottom: 67px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .descr-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -25px; }
    .descr-block__img img {
      width: 285px;
      height: 230px; }
    .descr-block__title {
      font-family: 'Olga';
      font-size: 70px;
      line-height: 95px;
      margin-bottom: 40px;
      color: #617592; }
    .descr-block-text {
      max-width: 440px;
      margin-right: 50px; }
      .descr-block-text__item {
        font-family: 'Avenir';
        font-size: 16px;
        line-height: 20px;
        color: #667F9C; }
        .descr-block-text__item:last-child {
          margin-top: 35px;
          color: #759ABA; }
  .descr .swiper-container {
    margin-top: 41px;
    height: 100px;
    width: 533px; }
  .descr .swiper-pagination-bullet {
    border: 1px solid #5A7D9B;
    background-color: transparent; }
    .descr .swiper-pagination-bullet-active {
      background-color: #5A7D9B; }
  .descr .swiper-slide {
    width: 162px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Avenir', sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #759ABA; }
    .descr .swiper-slide__icon {
      margin-right: 18px; }

.catalog {
  background-image: url("../img/catalog/bgCatalog-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 60px;
  padding-bottom: 220px; }
  .catalog-text {
    margin-bottom: 45px;
    -ms-flex-preferred-size: 78%;
    flex-basis: 78%; }
    .catalog-text__title {
      color: #ffffff;
      font-family: 'Olga', sans-serif;
      font-size: 56px;
      line-height: 76px;
      margin-bottom: 18px; }
    .catalog-text__subtitle {
      font-family: 'Avenir', sans-serif;
      font-size: 15px;
      line-height: 18px;
      color: #EDEDED; }
  .catalog-goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .catalog-goods-card__title {
      font-size: 15px;
      line-height: 13px;
      color: #587998;
      margin-bottom: 20px; }
    .catalog-goods-card-add {
      margin-top: 42px; }
    .catalog-goods-card__flipArrow {
      margin-top: 12px; }
    .catalog-goods-card-flipText {
      margin-top: 6px;
      font-family: 'Avenir';
      font-size: 12px;
      line-height: 12px;
      color: #A49E9E; }

.justCard {
  margin-right: 18px;
  margin-bottom: 18px;
  width: 300px;
  height: 350px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: relative; }
  .justCard .front, .justCard .back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: 'Avenir', sans-serif;
    border-radius: 20px; }
  .justCard .front {
    background-color: #fff;
    color: #000;
    padding: 45px 54px 30px 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .justCard .back {
    background-color: #fff;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: nowrap column;
    flex-flow: nowrap column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    font-size: 12px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
    .justCard .back-ingred-block {
      font-size: 11px;
      max-width: 270px; }
      .justCard .back-ingred-block__item:nth-child(1) {
        margin-bottom: 8px; }
      .justCard .back-ingred-block__item:nth-child(3) {
        margin-top: 25px;
        margin-bottom: 13px; }
      .justCard .back-ingred-block__item:nth-child(5) {
        margin-top: 13px;
        margin-left: 56px; }
    .justCard .back-ingred__img {
      position: absolute; }
      .justCard .back-ingred__img:first-of-type {
        width: 24px;
        height: 24px;
        top: 86px;
        right: 8px; }
      .justCard .back-ingred__img:nth-of-type(2) {
        width: 28px;
        height: 28px;
        left: 8px;
        top: 136px; }
      .justCard .back-ingred__img:nth-of-type(3) {
        width: 38px;
        height: 38px;
        top: 160px;
        right: 7px; }
      .justCard .back-ingred__img:nth-of-type(4) {
        width: 48px;
        height: 48px;
        left: 8px;
        top: 213px; }
      .justCard .back-ingred__img:nth-of-type(5) {
        width: 29px;
        height: 29px;
        top: 237px;
        right: 15px; }
    .justCard .back-ingred__title {
      text-align: center;
      margin-bottom: 11px; }

@media (max-width: 990px) {
  .descr-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .descr-block-text {
      margin-right: 0; } }

@media (max-width: 990px) {
  .container {
    max-width: 100%; }
  .header {
    position: relative; }
    .header-btn {
      width: 30px;
      height: 30px; }
      .header-btn img {
        width: 17px;
        height: 17px; }
    .header .mob {
      display: block;
      padding-top: 3.5px;
      padding-left: 2.7px;
      background-color: #ffffff;
      border-radius: 50%;
      margin-right: 10px; }
      .header .mob:active {
        outline: none; }
      .header .mob:checked {
        outline: none; }
      .header .mob img {
        height: 25px;
        width: 25px; }
    .header-tagline {
      display: block; }
    .header-block {
      padding: 15px;
      padding-left: 0;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .header__logo {
      margin-top: -25px;
      margin-left: 25px;
      margin-right: 0; }
    .header .header-menu-btn {
      z-index: 1;
      display: block;
      -ms-flex-item-align: start;
      align-self: flex-start;
      margin-left: 15px;
      margin-top: 3px;
      width: 30px;
      height: 2px;
      background: #FFFFFF;
      cursor: pointer; }
      .header .header-menu-btn:before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
        margin-top: -7px;
        background: #ffffff; }
      .header .header-menu-btn:after {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
        margin-top: 12px;
        background: #FFFFFF; }
    .header .header-menu-btn-active {
      height: 0; }
      .header .header-menu-btn-active:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .header .header-menu-btn-active:after {
        margin-top: -2.5px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .header .header-mob-btn {
      margin-top: -12px; }
    .header-menu {
      margin-top: -15px;
      display: none;
      background: -webkit-linear-gradient(119.4deg, #8696A8 1.56%, #9BBDD2 100%);
      background: -o-linear-gradient(119.4deg, #8696A8 1.56%, #9BBDD2 100%);
      background: linear-gradient(330.6deg, #8696A8 1.56%, #9BBDD2 100%);
      width: 100vw;
      position: absolute;
      padding-bottom: 15px;
      padding-top: 62px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .header-menu .header-map {
        margin-bottom: 69.5px; }
      .header-menu .header-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header-menu .header-nav__link {
          margin-right: 0;
          margin-bottom: 35px; }
          .header-menu .header-nav__link:last-child {
            margin-bottom: 50px; }
      .header-menu .header-social {
        display: block;
        margin-bottom: 60px; }
        .header-menu .header-social__link {
          margin-bottom: 10px;
          margin-right: 45px; }
          .header-menu .header-social__link:last-child {
            margin-right: 0; }
    .header-menu-active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header-phone__img {
      display: none; }
    .header-phone__img-dark {
      display: block; }
    .header-phone__link {
      display: none; }
  .main {
    background-image: url("../img/mobBG_Big.jpg");
    background-position: center right; }
    .main-social {
      display: none; }
    .main-content__subtitle {
      display: none; }
    .main-img {
      display: none; } }

@media (max-width: 750px) {
  .container {
    max-width: 750px; }
  .main {
    background-image: url("../img/mobBG_Mid.jpg"); }
    .main-content__title {
      font-size: 62px;
      margin-right: 95px; }
  .header__logo {
    margin-top: -18px;
    margin-left: 20px; }
    .header__logo__title {
      font-family: 'Olga', sans-serif;
      font-size: 19px;
      line-height: 26px; }
      .header__logo__title::first-letter {
        font-size: 32px;
        line-height: 43px; }
    .header__logo__subtitle {
      font-size: 5px;
      line-height: 6px;
      font-family: 'Avenir';
      margin-left: 55px;
      margin-top: -10px; } }

@media (max-width: 550px) {
  .main {
    background-image: url("../img/mobBG.jpg"); }
    .main-content__title {
      font-size: 45px;
      line-height: 65px; }
  .descr .swiper-container {
    width: 162px; } }

@media (max-width: 449px) {
  .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-left: 15px; }
  .main-content__title {
    font-size: 32px;
    line-height: 41px; }
  .descr {
    padding-top: 60px; }
    .descr-block__title {
      margin-bottom: 25px;
      font-size: 50px; }
    .descr-block-text {
      width: 340px; }
      .descr-block-text__item {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px; }
        .descr-block-text__item:last-child {
          margin-bottom: 25px;
          font-size: 12px; }
  .catalog-text__title {
    font-size: 40px; } }

@media (max-width: 342px) {
  .main-content {
    max-width: 320px; }
  .descr-block-text {
    width: 280px; }
  .catalog-goods-card-flipText {
    font-size: 9px; }
  .catalog-text__title {
    font-size: 35px; }
  .back-ingred__img:first-of-type {
    width: 18px !important;
    height: 18px !important; }
  .back-ingred__img:nth-of-type(3) {
    width: 26px !important;
    height: 26px !important;
    top: 165px !important; }
  .back-ingred__img:nth-of-type(5) {
    width: 26px !important;
    height: 26px !important;
    right: 10px !important; } }

@media (min-width: 550px) {
  .swiper-pagination {
    display: none; } }
